*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

header{
    width: 100%;
    padding: 20px 0;
    background-color: #0000ff;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul,li{
    display: flex;
    margin-left: 20px;
    letter-spacing: 4px;
}

.logo{
    text-transform: uppercase;
    letter-spacing: 3px;
}

a{
    color: #000;
    font-weight: 600;
}

a:hover{
    opacity: 0.7;
    color: #fff;
}

.title{
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase;
}

.container{
    margin: 0 auto;
}

.container h2{
    text-align: center;
    margin: 10px 0;
}

.container p{
    font-size: 18px;
}

.box-content{
    max-width: 90%;
    margin: 0 auto
}

.btn{
    position: absolute;
    top: 72px;
    right: 64px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
}